@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: absolute;
  width: 1980px;
  height: 1024px;

  background: #FFFFFF;
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  width: 1980px;
  height: 70px;

  background: linear-gradient(180deg, #283A97 0%, #3148C0 100%);
  border-radius: 0px;
}

body {
  h1 {
    span {
      color: red;
    }
  }
}

h1 {
  box-sizing: border-box;

  width: 230px;
  height: 48px;

  background: #FFFFFF;
  border-bottom: 1px solid #283A97;
  height: 29px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}